.error404 {
  #content {
    .wrapper {
      padding: 40px 20px;

      h1 {
        color: $secondary;
        margin-bottom: 15px;
      }

      form {
        margin-bottom: 25px;

        input[type="text"]{
          border: 1px solid $secondary;
          color: $secondary;

          &::placeholder {
            color: $secondary;
          }
        }

        input[type="submit"]{
          background-color: $secondary;
          color: $white;

          &:hover {
            color: $secondary;
            background-color: $dark-grey;
          }
        }
      }

      a.link-home {
        padding: 10px 25px;
        background-color: $secondary;
        color: $light-grey;

        &:hover {
          background-color: $light-grey;
          color: $secondary;
          text-decoration: none;
        }
      }
    }
  }
}
