.categories-header {
  padding-top: 120px;
  padding-bottom: 120px;
  .elementor-column-wrap {
    & > .elementor-widget-wrap {
      position: relative;

      @media screen and (max-width: 767px){
        flex-direction: column;
      }

      svg {
        fill: $dark-grey;
        z-index: 2;
      }

      .categories-breadcrumb {
        width: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 200px;
        padding-left: 100px;
        padding-right: 50px;

        @media screen and (max-width: 767px){
          position: relative;
          left: auto;
          top: auto;
          margin-top: 40px;
          margin-left: 15px;
          margin-right: 15px;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 90px;
        }

        .elementor-widget-wrap {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .elementor-element {
            width: auto;

            &:first-child {
              color: $brand-color;
              a {
                color: $dark;
              }
            }
          }
        }
      }
    }
  }
}

.archive.category {
  .post-header {
    -webkit-mask-image: url('/themes/jy-vais/assets/images/geometrie-triangle-inverse-350px.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    -webkit-mask-size: cover;

    .elementor-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1140px;

      @media screen and (max-width: 1024px){
        max-width: 1024px;
      }

      @media screen and (max-width: 767px){
        max-width: 767px;
      }
    }

    .post-breadcrumb {
      @media screen and (max-width: 1023px){
        max-width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  .article-content {
    .article-first-paragraph {
      padding-top: 120px;
      padding-bottom: 120px;
      background-color: $light-grey;

      .container {
        .jv-elementor-heading.style-1 {
          text-align: center;

          .jv-elementor-heading-subtitle {
            font-family: $title-font;
            font-size: 100px;
            line-height: 0;
            font-weight: 500;
            color: $dark-grey;

            @media screen and (max-width: 768px){
              font-size: 80px;
            }
    
            @media screen and (max-width: 575px){
              font-size: 60px;
            }
          }

          .jv-elementor-heading-title {
            font-family: $text-font;
            font-size: 40px;
            font-weight: 300;
            line-height: 44px;
            color: $text;

            @media screen and (max-width: 768px){
              font-size: 30px;
              line-height: 25px;
            }
    
            @media screen and (max-width: 575px){
              font-size: 28px;
              line-height: 23px;
            }
          }
        }

        .jv-elementor-description {
          margin-top: 40px;
          font-family: $text-font;

          a {
            color: $brand-color;

            &:hover {
              color: $dark-purple;
            }
          }
        }
      }
    }

    .article-map {
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;

      @media screen and (max-width: 1024px){
        flex-wrap: wrap;
      }

      .article-map-polaroids {
        width: 50%;
        padding: 40px;

        @media screen and (max-width: 1024px){
          width: 100%;
          order: 2
        }

        .article-map-polaroid {
          display: flex;
          align-items: center;

          &.hover,
          &:hover {
            & > a {
              background-color: $secondary !important;
              color: $white !important;
              position: relative;

              .article-map-polaroid-image {
                /*height: 180px;
                width: 120px;
                margin-left: 30px;
                justify-content: flex-end;*/
              }

              .jv-title {
                //position: absolute;
                //top: 50%;
                //transform: translateY(-50%);
                //left: 0;
                //letter-spacing: -10px;
                //writing-mode: vertical-rl;
                //text-orientation: upright;
                /*margin-left: 5px;
                margin-right: 5px;*/
              }
            }
          }

          /*&:nth-child(3n+1){
            a {
              background-color: $brand-color;
            }
          }

          &:nth-child(3n+2){
            left: 45%;

            a {
              color: $secondary;
              background-color: $light-grey;
            }
          }*/

          a {
            padding: 10px;
            width: auto;
            display: flex;
            flex-direction: column;

            &:hover {
              text-decoration: none;
            }

            .article-map-polaroid-image {
              width: 150px;
              height: 150px;
              background-size: cover;
              background-position: center;
            }

            .jv-title {
              font-family: $title-font;
              font-size: 18px;
              line-height: 20px;
              color: $white;
              padding-top: 10px;
              margin-bottom: 0px;
            }
          }
        }
      }

      .article-map-image {
        width: 50%;
        position: relative;
        height: max-content;
        padding-left: 2%;
        padding-right: 2%;

        @media screen and (max-width: 1024px){
          width: 100%;
          order: 1;
        }

        img {
          width: 100%;
        }

        .article-map-interest {
          position: absolute;

          &.active {
            .article-map-tooltip {
              background-color: $dark-purple;
            }

            .article-map-legend {
              display: block;
            }
          }

          .article-map-tooltip {
            min-width: 15px;
            min-height: 15px;
            border-radius: 15px;
            background-color: $white;
            position: absolute;
            animation: pulse-white 2s infinite;

            &:hover {
              cursor: pointer;
            }

            a {
              display: flex;
              width: 15px;
              height: 15px;
              border-radius: 15px;
              background-color: $white;
            }
          }

          .article-map-legend {
            display: none;

            a {
              color: $secondary;
              margin-left: 20px;
            }
          }
        }
      }
    }

    .jv-elementor-articles-recents-pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      ul.pages {
        list-style: none;
        display: flex;
        margin-bottom: 0;

        li {
          padding: 5px;
          margin: 3px;

          a, span {
            color: $secondary;
            opacity: 0.5;

            &:hover {
              opacity: 1;
              text-decoration: underline;
            }
          }

          .current {
            text-decoration: underline;
            opacity: 1;
          }
        }
      }

      & > a {
        color: $secondary;
        margin-left: 15px;
        margin-right: 15px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .jv-elementor-description {
      a {
        color: $brand-color;
        text-decoration: underline;
        font-weight: 700;

        &:hover {
          color: $dark-purple;
        }
      }
    }

    #category-description {
      scroll-margin-top: 100px;

      h2, h3, h4 {
        font-family: $title-font;
        color: $secondary;
        margin-top: 30px;
      }
    }
  }
}
