.search-results {
  background-color: $light-grey;

  .content-wrapper {
    padding-top: 60px;

    h1 {
      color: $secondary;
      padding-left: 10px;
      padding-right: 10px;
    }

    .list-posts {
      padding-top: 25px;

      .jv-article {
        margin-bottom: 25px;

        .jv-metadonnees {
          a {
            .jv-image {
              img {
                width: 100%;
              }
            }
          }
        }

        .jv-content {
          margin-top: 15px;

          .jv-title {
            padding-top: 8px;
            a {
              font-size: 25px;
              line-height: 29px;
              color: $secondary;
              font-family: $title-font;

              &:hover {
                text-decoration-thickness: 1px;
              }
            }
          }

          .jv-extract {
            .jv-description {
              font-size: 12px;
              line-height: 15px;
              font-family: $text-font;
            }

            a {
              font-size: 18px;
              line-height: 22px;
              font-family: $text-font;
              color: $secondary;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
