article.post-type-post {
  background-color: $light-grey;

  &[data-color="#8d8b50"]{
    --color : #8d8b50;
  }
  &[data-color="#96becf"]{
    --color : #96becf;
  }
  &[data-color="#cea9d1"]{
    --color : #cea9d1;
  }
  &[data-color="#212e53"]{
    --color : #212e53;
  }

  a {
    //color: var(--color) !important;
    color: $secondary !important;
  }

  .post-header {
    padding-top: 160px;
    padding-bottom: 170px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-mask-image: url('/themes/jy-vais/assets/images/geometrie-triangle-inverse-350px.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    -webkit-mask-size: cover;

    @media screen and (max-width: 992px){
      padding-top: 200px;
      padding-bottom: 40px;
      background-attachment: inherit;
    }

    .elementor-container {
      justify-content: flex-start;
      margin-left: auto;
      margin-right: auto;
      max-width: 1140px;

      @media screen and (max-width: 1024px){
        padding-left: 40px;
        padding-right: 40px;
        max-width: 1024px;
      }

      @media screen and (max-width: 992px){
        display: flex;
        flex-direction: column;
      }

      @media screen and (max-width: 767px){
        max-width: 767px;
      }

      .post-icon {
        z-index: 2;

        @media screen and (max-width: 992px){
          text-align: right;
          margin-bottom: -60px;
          margin-right: 20px;
        }

        @media screen and (max-width: 575px){
          margin-right: 0px;
          margin-bottom: -35px;
        }

        i {
          font-size: 222px;

          @media screen and (max-width: 1024px){
            font-size: 120px;
          }

          @media screen and (max-width: 992px){
            font-size: 80px;
            margin-right: 0;
          }
        }
      }

      .post-breadcrumb {
        width: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 247px;
        padding-left: 130px;
        padding-right: 60px;
        padding-top: 10px;
        background-color: $light-grey;

        @media screen and (max-width: 1024px){
          left: 200px;
        }

        @media screen and (max-width: 992px){
          position: relative;
          left: 0px;
          top: auto;
          transform: none;
          padding-left: 100px;
          padding-right: 100px;
        }

        @media screen and (max-width: 575px){
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 25px;
        }

        #breadcrumbs {
          margin-bottom: 20px;
          color: $text;
          font-size: 14px;

          @media screen and (max-width: 1024px){
            margin-bottom: 5px;
          }

          @media screen and (max-width: 575px){
            line-height: 15px;
            margin-bottom: 10px;
          }

          a {
            color: $text;

            &:hover {
              color: $text;
            }
          }
        }

        .post-title {
          color: $text;
          font-family: "Indie Flower", Sans-serif;
          font-size: 35px;
          font-weight: 400;
          line-height: 40px;

          @media screen and (max-width: 1024px){
            font-size: 30px;
            line-height: 34px;
          }

          @media screen and (max-width: 575px){
            font-size: 25px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .post-intro-content {
    .intro {
      & > .row {
        & > div {
          &:first-child {
            padding-left: 0;
            padding-right: 0;

            img {
              max-width: 100%;
              display: flex;
              padding: 20px;
              margin-left: 20px;
              margin-top: 80px;
              //border: 1px solid var(--color);
              border: 1px solid $secondary;
              max-height: 350px;
              margin-left: auto;
              margin-right: auto;

              @media screen and (max-width: 1200px){
                max-width: 830px;
                margin-bottom: 40px;
                margin-left: auto;
                margin-right: auto;
              }

              @media screen and (max-width: 1024px){
                width: 70%;
                margin: auto;
                margin-top: 40px;
                max-height: max-content;
              }
            }
          }

          &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 20px;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 20px;

            @media screen and (max-width: 1200px){
              margin-top: 50px;
            }

            @media screen and (max-width: 1024px){
              margin-top: 40px;
              margin-bottom: 40px;
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }

        .post-citation {
          position: relative;
          display: flex;
          justify-content: center;
          margin-top: 60px;

          h2 {
            font-family: $title-font;
            font-size: 37px;
            line-height: 42px;
            margin-left: 25px;
            margin-right: 25px;
            //color: var(--color);
            color: $secondary;

            @media screen and (max-width: 1440px){
              //font-size: 40px;
              //line-height: 44px;
            }

            @media screen and (max-width: 768px){
              font-size: 30px;
              line-height: 34px;
            }

            @media screen and (max-width: 575px){
              font-size: 25px;
              line-height: 29px;
            }

            &:first-letter {
              font-size: 60px;

              @media screen and (max-width: 1440px){
                //font-size: 60px;
              }

              @media screen and (max-width: 768px){
                font-size: 40px;
              }

              @media screen and (max-width: 575px){
                font-size: 35px;
              }
            }
          }

          .citation-quote {
            font-size: 60px;
            text-align: left;
            font-family: auto;
            line-height: 20px;
            //color: var(--color);
            color: $secondary;

            @media screen and (max-width: 575px){
              font-size: 40px;
            }

            &:first-child {
              text-align: left;
              align-self: flex-start;
            }

            &:last-child {
              text-align: right;
              align-self:flex-end;
            }
          }
        }
      }
    }
  }

  .post-description {
    padding: 50px 20px;

    .post-description-teaser {
      display:flex;
      align-items: center;
      margin-bottom: 15px;

      p {
        font-size: 20px;
        line-height: 24px;
      }

      .see-more {
        margin-left: 10px;
        padding-top: 3px;
        padding-left: 6px;
        padding-right: 5px;
        border: 1px solid black;
        border-radius: 50px;

        &:hover {
          cursor: pointer;
        }

        span {
          font-size: 30px;
          line-height: 20px;
        }
      }
    }

    p {
      font-size: 20px;
      line-height: 24px;
    }

    .post-description-content {      
      max-height: 0px;      
      transition: max-height 0.5s ease-out;
      overflow: hidden;
    }
  }

  .image-transition {
    display: none;
  }

  .maps {
    margin-top: 60px;
    margin-bottom: 20px;

    & > .jv-heading {
      text-align: center;
    }

    & > div {

      &:nth-child(2) {

        div:first-child {
          padding-left: 0px;
          padding-right: 0px;

          #jv-map-blog-post {
            padding-left: 20px;
            padding-right: 20px;
            min-height: 500px;
            height: auto;

            @media screen and (max-width: 575px){
              min-height: 400px;
            }

            .leaflet-bottom.leaflet-right {
              right: 50%;
              transform: translateX(50%);
            }
          }
        }
      }
      &:last-child {
        padding: 20px;
        padding-top: 70px;

        @media screen and (max-width: 767px){
          padding-left: 0;
        }

        & > div {
          &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $secondary;
          }
        }

        .jv-heading {
          align-items: center;
          text-align: center;
          margin-bottom: 25px;

          .jv-heading-subtitle {
            font-size: 80px;
          }
        }

        .jv-etapes-list {
          list-style-type: none;
          padding-top: 20px;
          padding-bottom: 20px;

          @media screen and (max-width: 768px){
            padding-left:0;
            padding-top: 50px;
          }

          li {
            position: relative;
            margin-top: 6px;
            margin-bottom: 6px;

            &:hover {
              &::before {
                border-right: 0px;
              }
            }

            &::before {
              content: " ";
              width: 25px;
              height: 25px;
              border: 1px solid $light-grey;
              border-top: none;
              border-left: none;
              position: absolute;
              left: -5px;
              top: 11px;
            }

            span {
              //background-color: var(--color);
              background-color: $secondary;
              font-family: $title-font;
              font-size: 26px;
              color: white;
            }

            a {
              padding-left: 13px;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
              transform-origin:  0% 50%;
              font-size: 20px;
              line-height: 24px;
              font-weight: 300;
              color: white !important;

              &:first-letter {
                font-family: $title-font;
                font-size: 32px;
              }

              &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: $light-grey;
                transition: width .3s;
                margin-top: -4px;
              }

              &:hover {
                text-decoration: none;

                &::after {
                 width: 100%;
                }
              }
            }
          }
        }

        .on-y-va {
          font-family: $title-font;
          font-size: 25px;
          line-height: 32px;
          color: $light-grey;
          text-align: right;
        }
      }
    }
  }

  .jv-etape {
    &:nth-child(2n+1){
      .content-left {
        &:first-child {
          @media screen and (max-width: 1200px){
            order: 2;
          }
        }
      }
    }

    .jv-heading {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1200px){
        z-index: 30;
      }

      .jv-heading-subtitle {
        font-family: $title-font;
        font-size: 100px;
        line-height: 0;
        font-weight: 500;
        color: $dark-grey;

        @media screen and (max-width: 1200px){
          color: rgba(33, 46, 83, 0.15);
          line-height: 20px;
        }

        @media screen and (max-width: 768px){
          font-size: 80px;
        }

        @media screen and (max-width: 575px){
          font-size: 60px;
        }

      }

      .jv-heading-title {
        font-family: $text-font;
        font-size: 40px;
        font-weight: 300;
        line-height: 35px;
        color: $text;

        @media screen and (max-width: 768px){
          font-size: 30px;
          line-height: 25px;
        }

        @media screen and (max-width: 575px){
          font-size: 28px;
          line-height: 23px;
        }
      }
    }

    .col-xl-4 {
      justify-content: center;

      &.content-right {
        .jv-heading {
          margin-left: 28px;

          @media screen and (max-width: 1200px){
            margin-left: 0px;
          }
        }
      }
    }

    .col-xl-8 {
      .jv-content-image {
        @media screen and (max-width: 767px){
          max-height: 400px;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 100%;
          width: 25%;
          top: 0;
          z-index: 20;

          @media screen and (max-width: 1200px){
            bottom: -2px;
            width: 100%;
            height: 200px;
            top: auto;
          }

          @media screen and (max-width: 1024px){
            height: 150px;
          }
        }

        .swiper-wrapper {
          @media screen and (max-width: 767px){
            max-height: 400px;
          }

          .swiper-slide {
            @media screen and (max-width: 767px){
              max-height: 400px;
            }

            img {
              @media screen and (max-width: 767px){
                max-height: 400px;
              }
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          &::after {
            color: $light-grey;
          }
        }
      }

      &.content-left {
        .jv-content-image {
          &::after {
            left: 0;
            background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 0) 100%);

            @media screen and (max-width: 1200px){
              background: linear-gradient(0deg, $light-grey 0%, $light-grey 20%, rgba(255, 255, 255, 0) 100%);
            }
          }
        }
      }

      &.content-right {
        .jv-content-image {
          &::after {
            right: 0;
            background: linear-gradient(-90deg, $light-grey 0%, rgba(255, 255, 255, 0) 100%);

            @media screen and (max-width: 1200px){
              background: linear-gradient(0deg, $light-grey 0%, $light-grey 20%, rgba(255, 255, 255, 0) 100%);
            }
          }
        }
      }
    }
  }

  .post-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    &::before {
      height: 100%;
      border-left: 1px solid $text;
      content: " ";
      position: absolute;
      right: 12.5px;
      z-index: -1;
    }

    ul {
      list-style-type: none;

      li {
        margin-top: 10px;
        margin-bottom: 10px;

        a {
          &:hover {
            text-decoration: none;

            span {
              display: flex;
              flex-wrap: nowrap;
              position: absolute;
              right: 25px;
              justify-content: flex-end;
              white-space: nowrap;
            }
          }
        }

        a {
          display: flex;

          &::after {
            content: " ";
            width: 25px;
            height: 25px;
            //background-color: var(--color);
            background-color: $secondary;
            display: block;
          }

          span {
            display: none;
            background-color: $light-grey;
            padding-right: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .post-pagination {
    display:flex;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 575px){
      flex-direction: column;
    }

    & > div {
      width: 50%;

      @media screen and (max-width: 575px){
        width: 100%;
      }

      &:first-child {
        padding-right: 20px;

        a {
          padding-left: 15%;

          @media screen and (max-width: 1024px){
            padding-left: 20px;
          }

          div {
            span {
              left: 182px;

              @media screen and (max-width: 1024px){
                left: 120px;
              }

              @media screen and (max-width: 768px){
                left: auto;
                line-height: 17px;
              }
            }
          }
        }
      }

      &:last-child {
        padding-left: 20px;
        a {
          padding-right: 15%;

          @media screen and (max-width: 1024px){
            padding-right: 20px;
          }

          div {
            justify-content: flex-end;

            span {
              right: 182px;

              @media screen and (max-width: 1024px){
                right: 120px;
              }

              @media screen and (max-width: 768px){
                right: auto;
                line-height: 17px;
              }
            }
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        color: $text;

        &:hover {
          text-decoration: none;
        }

        i {
          font-size: 22px;
          color: $text;
          margin-left: 15px;
          margin-right: 15px;
        }

        div {
          display: flex;
          align-items: center;
          text-align: center;
          position: relative;

          @media screen and (max-width: 768px){
            flex-direction: column;
          }

          @media screen and (max-width: 575px){
            flex-direction: row;
          }

          img {
            width: 25%;
            margin-left: 15px;
            margin-right: 15px;

            @media screen and (max-width: 768px){
              width: 70%;
              margin-left: 0;
              margin-right: 0;
            }

            @media screen and (max-width: 575px){
              width: 25%;
              margin-left: 10px;
              margin-right: 10px;
            }
          }

          span {
            position: absolute;

            @media screen and (max-width: 768px){
              position: relative;
            }

            &::first-letter {
              font-family: $title-font;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
