@keyframes jvMapAnimation {
  0% {
    height: 30px;
    opacity: 1;
    width: 30px;
  }
  100% {
    height: 40px;
    opacity: 0;
    width: 40px;
  }
}

#jv-map-blog-post {
  width: 100%;
  height: 70vh;
}


.leaflet-interactive {
  height: 10px;
  position: relative;
  width: 10px;
  background-color: $secondary;
  border-radius: 20px;

  &::before {
    -webkit-animation: jvMapAnimation 1s infinite ease-out;
    animation: jvMapAnimation 1.5s infinite ease-out;
    animation-name: jvMapAnimation;
    border-radius: 60px;
    box-shadow: inset 0 0 0 1px #212e5344;
    content: '';
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #212e5344;
    z-index:10;
  }
}
