  .jv-skin-last-posts-one-column {
    background-color: $light-grey;

    .jv-article {
      display: flex;
      flex-direction: row;
      height: auto !important;
      height: 480px;
      padding: 40px;
      position: relative;

      &:first-child {
        //padding-top: 0px;
      }

      &:nth-child(2n) {
        padding-right: 0px;
        padding-left: 0px;

        .jv-metadonnees {
          display: flex;
          order: 3;
          padding-right: 0;

          @media screen and (max-width: 1023px) {
            order: 1;
          }

          &>a {
            &::after {
              left: 0;
              background: linear-gradient(90deg, rgba(242, 241, 241, 1) 0%, rgba(242, 241, 241, 0) 100%);
            }
          }
        }

        .jv-icon {
          order: 2;
          z-index: 2;

          @media screen and (max-width: 1023px) {
            transform: translate(-30%);
          }

          @media screen and (max-width: 1023px) {
            transform: translateX(-50%);
          }
        }

        .jv-content {
          order: 1;

          @media screen and (max-width: 1023px) {
            order: 3;
          }

          div.border-secondary-top {
            border-left: 1px solid $secondary;
            left: 30px;
          }

          div.border-secondary-bottom {
            left: 75px;
            border-left: 1px solid $secondary;
            width: calc(100% - 245px);

            @media screen and (max-width: 1200px) {
              left: 0px;
            }
          }

          .jv-extract {
            .jv-description {
              margin-left: 90px;

              @media screen and (max-width: 1200px) {
                margin-left: 44px;
              }
            }
          }

          .jv-date-tags {
            //justify-content: flex-end;
            margin-right: 96px;
            margin-left: 47px;

            @media screen and (max-width: 1023px) {
              margin-right: 36px;
              margin-left: 0;
            }

            @media screen and (max-width: 1023px) {
              margin-right: 0px;

              &::after {
                //content: " ";
                //width: 100%;
                //flex-grow: 1;
              }
            }

            &::before {
              /*content: " ";
              border-top: 1px solid $secondary;
              width: 100%;
              flex-grow: 1;
              height: 1px;
              margin-right: 96px;

              @media screen and (max-width: 1023px){
                margin-right: 36px;
              }*/
            }

          }

          .jv-title {
            //text-align: right;
            //margin-right: -160px;
            //margin-left: 160px;
            //display:flex;
            //justify-content: flex-end;
            background: linear-gradient(-90deg, rgba(242, 241, 241, 0) 0%, rgba(242, 241, 241, 0) calc(100% - 161px), rgba(242, 241, 241, 1) calc(100% - 160px), rgba(242, 241, 241, 1) 100%);

            @media screen and (max-width: 1023px) {
              margin-right: -80px;
              margin-left: 80px;
              background: $light-grey;
            }

            @media screen and (max-width: 1023px) {
              margin-right: -15px;
              margin-left: 0px;
            }

            @media screen and (max-width: 768px) {
              margin-left: 0px;
            }

            a {
              //padding-left: 30px;
              position: relative;
              //background: linear-gradient(-90deg, rgba(242,241,241,0) 0%, rgba(242,241,241,0) calc(100% - 161px), rgba(242,241,241,1) calc(100% - 160px),rgba(242,241,241,1) 100%);

              @media screen and (max-width: 798px) {
                background: none;
                padding-left: 0px;
              }

              &::before {
                @media screen and (max-width: 1023px) {
                  background: linear-gradient(-90deg, rgba(242, 241, 241, 0) 0%, rgba(242, 241, 241, 0) 81px, rgba(242, 241, 241, 1) 80px, rgba(242, 241, 241, 1) 100%);
                }
              }
            }
          }

          .jv-link {
            justify-content: flex-end;
          }
        }
      }

      &:nth-child(2n+1) {
        padding-left: 0px;
        padding-right: 0px;

        .jv-metadonnees {
          padding-left: 0px;

          &>a {
            &::after {
              right: 0;
              background: linear-gradient(-90deg, rgba(242, 241, 241, 1) 0%, rgba(242, 241, 241, 0) 100%);
            }
          }
        }

        .jv-icon {
          @media screen and (max-width: 1023px) {
            transform: translate(-80%);
          }

          @media screen and (max-width: 768px) {
            transform: translateX(-50%);
          }
        }

        .jv-content {
          order: 1;

          div.border-secondary-top {
            border-right: 1px solid $secondary;
            right: 30px;
          }

          div.border-secondary-bottom {
            left: 30px;
            border-left: 1px solid $secondary;

            @media screen and (max-width: 1200px) {
              left: 0px;
            }
          }

          .jv-date-tags {
            margin-left: 96px;

            @media screen and (max-width: 1023px) {
              margin-left: 36px;
            }

            @media screen and (max-width: 1023px) {
              margin-left: 0px;

              &::before {
                //content: " ";
                //width: 100%;
                //flex-grow: 1;
              }
            }

            &::after {
              /*content: " ";
              border-top: 1px solid $secondary;
              width: 100%;
              flex-grow: 1;
              margin-left: 20px;
              height: 1px;*/
            }
          }

          .jv-title {
            text-align: left;
            margin-left: -140px;
            background: linear-gradient(90deg, rgba(242, 241, 241, 0) 0%, rgba(242, 241, 241, 0) 160px, rgba(242, 241, 241, 1) 161px, rgba(242, 241, 241, 1) 100%);

            @media screen and (max-width: 1023px) {
              margin-left: 0px;
              background: $light-grey;
            }

            @media screen and (max-width: 992px) {
              //width: 110%;
            }

            @media screen and (max-width: 768px) {
              margin-left: 0;
            }

            a {
              margin-right: 30px;
              position: relative;
              //background: linear-gradient(90deg, rgba(242,241,241,0) 0%, rgba(242,241,241,0) 160px, rgba(242,241,241,1) 161px,rgba(242,241,241,1) 100%);

              @media screen and (max-width: 1023px) {
                background: none;
                margin-right: 20px;
              }

              @media screen and (max-width: 768px) {
                margin-right: 40px;
                padding-bottom: 20px;
              }

              &::before {
                @media screen and (max-width: 1023px) {
                  background: linear-gradient(90deg, rgba(242, 241, 241, 0) 0%, rgba(242, 241, 241, 0) 80px, rgba(242, 241, 241, 1) 81px, rgba(242, 241, 241, 1) 100%);
                }
              }
            }
          }

          .jv-link {
            justify-content: flex-end;
          }
        }
      }

      .jv-metadonnees {
        position: relative;
        padding-bottom: 0px;

        @media screen and (max-width: 1023px) {
          padding-left: 0px;
          padding-right: 0px;
          max-width: 100%;
          flex: 0 0 100%;
        }

        &>a {
          width: 100%;
          height: 100%;

          &::after {
            content: " ";
            height: 100%;
            width: 40%;
            position: absolute;
            top: 0;
          }

          .jv-image {
            width: 100%;
            height: 480px;
            background-size: cover;
          }
        }
      }

      .jv-icon {
        background-color: $secondary;
        padding: 14px 12px;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 1023px) {
          position: relative;
          top: -22px;
          transform: none;
        }

        a {
          &:hover {
            text-decoration: none;
          }
        }

        i {
          color: white;
          font-size: 65px;

          @media screen and (max-width: 1023px) {
            font-size: 45px;
          }
        }
      }

      .jv-content {
        padding: 52px 30px;
        position: relative;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1023px) {
          padding-top: 15px;
          flex: 0 0 100%;
          max-width: 100%;
        }

        div.border-secondary-top {
          content: " ";
          position: absolute;
          z-index: -1;
          top: 107px;
          width: calc(100% - 150px);
          height: 92px;
          border: none;
          border-bottom: 1px solid $secondary;

          @media screen and (max-width: 1023px) {
            height: 68px;
          }

          @media screen and (max-width: 1023px) {
            top: 35px;
            height: 48px;
            z-index: -1;
          }

          @media screen and (max-width: 575px) {
            border-bottom: none;
          }

        }

        div.border-secondary-bottom {
          content: " ";
          position: absolute;
          z-index: -1;
          width: calc(100% - 200px);
          border: none;
          border-bottom: 1px solid $secondary;
          height: calc(50% - 55px);
          bottom: 65px;

          @media screen and (max-width: 1200px) {
            margin-left: 44px;
            width: calc(100% - 245px);
          }

          @media screen and (max-width: 1023px) {
            height: calc(50% - 40px);
          }
        }

        .jv-date-tags {
          margin-bottom: 13px;
          align-items: center;

          @media screen and (max-width: 1023px) {
            margin-top: 0px;
          }

          .jv-date {
            font-family: $text-font;
            font-size: 14px;
            line-height: 40px;
            color: $secondary;
            display: flex;
            align-items: center;

            &::after {
              content: " ";
              width: 100%;
              flex-grow: 1;
              margin-left: 20px;
              height: 1px;
            }

            span {
              margin-right: 5px;
              color: $secondary;
            }
          }

          .jv-tags {
            display: flex;
            align-items: center;

            &::before {
              /*content: " ";
              width: 100%;
              flex-grow: 1;
              margin-left: 20px;
              height: 1px;*/
            }

            a {
              color: $secondary;
            }

            span {
              color: $secondary;
              margin-right: 3px;
            }
          }
        }


        .jv-category {
          font-family: $text-font;
          font-size: 14px;
          line-height: 40px;
          color: $text;
          text-transform: uppercase;
        }

        .jv-title {
          margin-top: 35px;
          width: calc(100% + 140px);

          @media screen and (max-width: 1023px) {
            margin-top: 30px;
            width: calc(100% + 80px);
          }

          @media screen and (max-width: 1023px) {
            margin-top: 10px;
            width: calc(100% + 15px);
          }

          a {
            font-size: 30px;
            line-height: 34px;
            font-family: $title-font;
            color: $secondary;

            &::before {
              @media screen and (max-width: 1023px) {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% + 60px);
                height: 100%;
                z-index: -1;
              }

              @media screen and (max-width: 575px) {
                display: none;
              }
            }

            &::after {
              @media screen and (max-width: 992px) {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                width: 0;
                bottom: 5px;
                background: #212e53;
                height: 1px;
                transition-property: width;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
              }

            }

            &:hover {
              text-decoration: none;

              &::after {
                @media screen and (max-width: 992px){
                  right: auto;
                  left: 0;
                  width: 100%;
                  z-index: 2;
                  bottom: 0;
                }
              }
            }
          }
        }

        .jv-extract {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .jv-description {
            font-size: 18px;
            color: $secondary;
            margin-top: 34px;
            margin-bottom: 44px;
            margin-left: 50px;
            font-family: $text;
            flex-grow: 1;

            @media screen and (max-width: 1023px) {
              margin-top: 24px;
              margin-left: 25px;
              margin-bottom: 24px;
            }
          }

          .border-secondary {
            height: 100%;
            width: 100px;
            position: absolute;
            top: 0px;
            border-left: 1px solid $secondary;
            border-bottom: 1px solid $secondary;
          }

          .jv-link {
            text-transform: uppercase;
            color: $secondary;
            text-align: right;
            font-size: 18px;
            display: flex;
            position: relative;
            max-width: fit-content;
            justify-content: flex-end;
            margin-left: auto;

            &::after {
              content: "";
              position: absolute;
              z-index: -1;
              left: 0;
              width: 0;
              bottom: 5px;
              background: #212e53;
              height: 1px;
              transition-property: width;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }

            &:hover {
              text-decoration: none;

              &::after {
                right: auto;
                left: 0;
                width: 100%;
                z-index: 2;
              }
            }
          }
        }
      }
    }
  }