.elementor-widget-articles_recents {
  .jv-skin-last-posts {
    .jv-article {
      display:flex;
      flex-direction: column;
      height: auto !important;

      @media screen and (max-width: 575px) {
        padding: 0;
      }

      .jv-metadonnees {
        position: relative;
        padding-bottom: 55px;

        div.border-secondary {
          content: " ";
          width: 290px;
          height: 320px;
          border: 2px solid $secondary;
          position: absolute;
          bottom: 28px;
          right: 18px;
          z-index: -1;
        }

        & > a {
          width: calc(100% - 40px);
          height: 400px;

          .jv-image {
            width: calc(100% - 40px);
            height: 320px;
            background-size: cover;

            @media screen and (max-width: 992px){
              height: 420px;
            }

            @media screen and (max-width: 575px){
              height: 300px;
            }
          }
        }

        .jv-date {
          writing-mode: vertical-rl;
          text-orientation: upright;
          font-family: $text-font;
          font-size: 14px;
          line-height: 40px;
          color: $secondary;
          position: absolute;
          right: 12px;
          bottom: 140px;
        }

        .jv-category {
          font-family: $text-font;
          font-size: 14px;
          line-height: 40px;
          color: $text;
          text-transform: uppercase;
          position: absolute;
          bottom: 22px;
          right: 180px;
        }

        .jv-icon {
          background-color: $secondary;
          padding: 14px 9px;
          position: absolute;
          right: 0px;
          bottom: 0px;

          @media screen and (max-width: 575px){
            padding: 14px;
          }

          i {
            color: white;
            font-size: 90px;

            @media screen and (max-width: 575px){
              font-size: 50px;
            }
          }
        }
      }

      .jv-content {
        padding: 28px 40px;
        position: relative;
        display: flex;
        flex-direction: column;;

        @media screen and (max-width: 575px){
          padding: 28px 20px;
        }

        .jv-title {
          text-align: center;
          margin-left: 50px;

          @media screen and (max-width: 575px){
            margin-left: 20px;
          }

          a {
            font-size: 30px;
            line-height: 34px;
            font-family: $title-font;
            color: $secondary;
            font-size: 24px;

            @media screen and (max-width: 575px){}
          }
        }

        .jv-description {
          font-size: 18px;
          color: $secondary;
          margin-top: 34px;
          margin-bottom: 44px;
          margin-left: 50px;
          font-family: $text;

          @media screen and (max-width: 575px){
            margin-left: 20px;
            font-size: 15px;
          }
        }

        .border-secondary {
          height: calc(100% - 40px);
          width: 100px;
          position: absolute;
          top: 0px;
          border-left: 2px solid $secondary;
          border-bottom: 2px solid $secondary;
        }

        .jv-link {
          text-transform: uppercase;
          color: $secondary;
          text-align: right;
          font-size: 18px;
          font-family: $text;

        }
      }
    }
  }
}
