.jv-elementor-categories-articles {
  &.skin-title-side.skin-carousel-title-side {
    overflow: hidden;

    @media screen and (max-width: 1199px){
      width: calc(100% - 150px);
      margin: auto;
    }

    @media screen and (max-width: 768px){
      width: calc(100% - 50px);
    }

    .swiper-wrapper {
      height: 350px;

      @media screen and (max-width: 768px){
        height: 250px;
      }

      @media screen and (max-width: 575px){
        height: auto;
      }

      .swiper-slide {
        opacity: 0;
        z-index: -1;

        &.swiper-slide-active {
          opacity: 1;
          z-index: 1;

          & + div {
            opacity: 1;
            z-index: 1;

            @media screen and (max-width: 767px){
              opacity: 0;
              z-index: -1;
            }
          }

          & + div + div {
            opacity: 1;
            z-index: 1;

            @media screen and (max-width: 1199px){
              opacity: 0;
              z-index: -1;
            }
          }
        }

        &:hover {
          .jv-vignette {
            .jv-vignette-bg {
              //filter: grayscale(0);
            }
          }
        }

        .jv-vignette {
          margin: 0;

          &:hover {
            .jv-category {
              .jv-group-title {
                div {
                  display: none;
                }

                .jv-title {
                  bottom: 0px;
                  left: 0;
                  width: 100%;
                  writing-mode: horizontal-tb;
                  position: absolute;

                  &::after {
                    content: " ";
                    border-bottom: 1px solid $secondary;
                    flex-grow: 1;
                    height: 25px;
                    margin-left: 10px;
                  }
                }
              }
            }
          }

          .jv-category {
            .jv-group-title {
              .jv-title {
                //bottom: 180px;
                line-height: 45px;
                color: $secondary;
                //width: 280px;
                //left: -115px

                width: 100%;

                &::after {
                  margin-right: 0px;
                  margin-left: 23px;
                }
              }
            }
          }
        }
      }
    }

    .swiper-navigation {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1199px){
        width: calc(100% - 150px);
        margin: auto;
      }

      @media screen and (max-width: 768px){
        width: calc(100% - 50px);
      }

      & > div {
        color: $secondary;
        background-image: none;

        &::after {
          color: $secondary;
        }
      }

      .swiper-button-prev {
        left: -70px;

        @media screen and (max-width: 1280px){
          left: -30px;
        }
      }

      .swiper-button-next {
        right: -70px;

        @media screen and (max-width: 1280px){
          right: -30px;
        }
      }
    }
  }
}
