.jv-elementor-categories-articles.skin-title-side {

  @media screen and (max-width: 575px){
    margin-left: 0px;
    margin-right: 0px;
  }

  .row,
  .swiper-wrapper {
    & > div {
      @media screen and (max-width: 768px){
        margin-left: 0px;
      }

      @media screen and (max-width: 575px){
        height: 300px;
      }
    }

    .jv-vignette {
      display:flex;

      a {
        color: $secondary;

        &:hover {
          color: $secondary;
        }
      }

      .jv-vignette-bg {
        position: relative;
        width: calc(100% - 50px);
      }

      .jv-category {
        width: 50px;

        .jv-group-title {
          left: auto;
          width: 100%;
          height: 100%;
          padding: 0px;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          position: relative;
          border: none;

          svg {
            max-height: 50px;
            max-width: 50px;
            transform: rotate(-90deg);
          }

          .jv-title {
            padding: 0px;
            margin: 0px;
            min-width: auto;
            //transform: rotate(-90deg);
            //position: absolute;
            //left:-130px;
            //bottom: 220px;
            border: none;
            font-size: 20px;
            background: transparent;
            height: 50px;
            display: flex;
            flex-grow: 1;
            //width: 310px;

            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            min-height: fit-content;
            margin-bottom: 20px;

            @media screen and (max-width: 575px){
              left: -90px;
              bottom: 160px;
              width: 230px;
            }

            &::after {
              content: " ";
              border-left: 1px solid $secondary;
              flex-grow: 1;
              height: 25px;
              margin-left: 8px;
              margin-top: 5px;
            }
          }
        }
      }

      &:hover {
        margin-left: 60px;

        .jv-category {
          position: absolute;
          z-index: 5;
          width: 100%;

          .jv-group-title {
            justify-content: center;
            align-items: center;
            background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(241,241,241,0) 100%);
            top: 0%;

            div {
              display: none;
            }

            .jv-title {
              transform: rotate(0deg);
              left: 0px;
              bottom: 0px;
              width: 100%;
              writing-mode: horizontal-tb;
              position: absolute;

              &::before {
                content: " ";
                border-bottom: 1px solid $secondary;
                flex-grow: 1;
                height: 25px;
                margin-right: 15px;
              }

              &::after {
                content: " ";
                border-bottom: 1px solid $secondary;
                flex-grow: 1;
                height: 25px;
                margin-left: 10px;
                border-left: none;
                margin-top: 0px;
              }
            }

            svg {
              transform: rotate(0deg);
              max-height: 140px;
              max-width: 140px;
            }
          }
        }

        .jv-vignette-bg {
          width: 100%;
        }
      }
    }
  }
}
