.jv-skin-last-posts-no-bg {
  .col-xl-4 {
    @media screen and (min-width: 1200px){
      margin-bottom: 0px;
    }

    @media screen and (max-width: 1199px) and (min-width: 769px){
      margin-bottom: 0px;
    }

    @media screen and (max-width: 767px){
      width: auto;
    }

    &:nth-child(2n+1){
      @media screen and (max-width: 1199px) and (min-width: 769px){
        margin-top: 50px;
      }
    }

    &:nth-child(3n+2){
      @media screen and (min-width: 1200px){
        margin-top: 150px;
      }

      .jv-article {
        justify-content: flex-end;

        .jv-group-title {
          transform: none;
        }
      }
    }

    a {
      &::before {
        @media screen and (max-width: 767px){
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          display: block;
          width: calc(100% - 30px);
          background-color: rgba(33, 46, 83, 0.15);
        }
      }
    }

    .jv-article {
      padding: 20px;

      &:hover {
        .jv-group-title {
          padding-top: 20px;
          padding-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          background-color: rgba(241, 241, 241, 0.7);

          i {
            z-index: 0;
            position: absolute;
            right: 40px !important;
            left: inherit !important;
            transform: none;
            transform: translateY(-40%);

            @media screen and (max-width: 1440px){
              font-size: 180px;
            }
          }

          .jv-title {
            z-index: 1;
            border-color: $secondary;
            margin-bottom: 15px;
          }

          .jv-description {
            display: block;
            z-index: 1;
            color: $secondary;
            opacity: 0.8;
          }
        }
      }

      .jv-group-title {
        background-color: transparent;
        transform: none;
        box-shadow: none;
        width: 100%;
        justify-content: flex-end;

        @media screen and (max-width: 1440px){
          padding: 15px;
        }

        i {
          position: relative;
          left: 0;
          top: 0;
          transform: none;
          color: $white;
        }

        .jv-title {
          color: $white;
          text-align: left;
          margin-top: 10px;
          padding-left: 15px;
          border-left: 1px solid $white;

          @media screen and (max-width: 1440px){
            font-size: 20px;
            line-height: 24px;
          }

          @media screen and (max-width: 767px){
            position: relative;
            z-index: 2;
          }
        }

        .jv-description {
          display: none;
          color: $white;
        }
      }
    }
  }
}
