.elementor-widget-articles_recents {
  .jv-skin-two-columns {
    .jv-article {
      display:flex;
      flex-direction: row;
      height: 300px !important;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 10px;
      margin-bottom: 10px;

      &:hover {
        display: flex;
        flex-direction: column;

        a {
          width: 100%;
          height: 100%;
        }

        .jv-icon {
          position: absolute;
          height: 100%;
        }

        .jv-content {
          position: absolute;
          width: calc(100% - 50px);
        }
      }

      a {
        width: calc(50% - 20px);
        .jv-image {
          width: 100%;
          height: 100%;

          background-size: cover;
        }
      }

      .jv-icon {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //width: 0px;
        width: 50px;
        &::before, &::after {
          content: " ";
          //border-bottom: 1px solid $secondary;
          //transform: rotate(-90deg);
          border-right: 1px solid $secondary;
          height: 50px;
        }
        &::before {
          margin-bottom: 10px;
        }
        &::after {
          margin-top: 10px;
        }
        a {
          min-width: 40px;
          i {
            font-size: 40px;
            color: $secondary;
            /*background: linear-gradient(0deg, $light-grey 50%, $secondary 50%);
            background: -webkit-linear-gradient(0deg, $light-grey 50%, $secondary 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;*/
          }
        }
      }

      .jv-content {
        display: flex;
        flex-direction: column;
        width: calc(50% - 20px);
        //margin-left: 100px;
        padding: 0 20px;
        //border: 1px solid $secondary;
        //border-left: none;
        position: relative;

        /*&::before, &::after {
          border-top: 1px solid $secondary;
          content: " ";
          width: 25px;
          position: absolute;
          left: -25px;
        }

        &::before {
          top: -1px;
        }

        &::after {
          bottom: -1px;
        }*/

        .jv-metadonnees {
          margin-bottom: 10px;
          .jv-date, .jv-category {
            font-size: 12px;
            font-family: $text-font;
          }
          a {
            color: $secondary;
            &:hover {
              color: $brand-color;
            }
          }
        }
        .jv-title {
          font-family: $title-font;
          font-weight: 500;
          margin-bottom: 15px;
          a {
            color: $secondary;

            &:hover {
              color: $brand-color;
            }
          }
        }

        .jv-description {
          margin-bottom: 15px;
          flex-grow: 1;
          font-family: $text-font;
        }

        .jv-link {
          border: 1px solid $secondary;
          padding: 7px 15px;
          color: $secondary;
          display: flex;
          align-self: flex-end;
          justify-content: center;
          width: auto;

          &:hover {
            background-color: $secondary;
            color: $light-grey;
          }
        }
      }

      .jv-region {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        &::before, &::after {
          content: " ";
          border-right: 1px solid $secondary;
          height: 50%;
        }
        i {
          font-size: 20px;
          color: $secondary;
        }
      }
    }
  }
}
