.elementor-widget-articles_recents {
  padding-bottom: 100px;

  .jv-skin-default {
    margin-top: 220px;
    margin-bottom: 220px;

    .col-xl-4 {
      @media screen and (min-width: 1200px){
        &:nth-child(3n+2){
          .jv-article {
            @media screen and (max-width: 767px){
              justify-content: flex-end;
            }

            .jv-group-title {
              @media screen and (max-width: 767px){
                transform: translateY(50%);
              }

              i {
                @media screen and (max-width: 575px) and (pointer: coarse){
                  top: -27%;
                }
              }
            }
          }
        }
      }

      .jv-article {
        @media screen and (max-width: 1440px){
          padding-left: 25px;
          padding-right: 25px;
        }

        @media screen and (max-width: 767px){
          max-height: 400px;
        }

        &:hover {
          .jv-description {
            display: block;
          }
        }

        .jv-group-title {
          padding: 40px 25px;
          position: relative;

          i {
            @media screen and (max-width: 768px){
              top: -60px !important;
            }
          }

          .jv-title {
            @media screen and (max-width: 1200px){
              font-size: 25px;
              line-height: 28px;
            }
          }
        }

        .jv-description {
          display: none;
          color: $secondary;

          @media (pointer: coarse){
            display: block;
          }
        }
      }
    }
  }

  .col-xl-4 {
    margin-bottom: 150px;

    @media screen and (max-width: 1200px){
      margin-bottom: 40px;
    }

    .jv-article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 100px;
      padding-right: 100px;
      justify-content: flex-end;
      background-size: cover;
      background-position: center center;

      @media screen and (min-wisth: 992px){
        background-attachment: fixed;
      }

      &:hover {

        .jv-group-title {
          filter: none;
          background-color: rgba(241, 241, 241, 0.8);
          display: flex;
          flex-direction: column;
          justify-content: center;
          transform: translateY(0);
          height: 100%;
          width: 100%;
          align-items: center;
          transition: all 0.5s;
          //border: 1px solid $dark-purple;

          i {
            //color: rgba(33, 46, 83, 0.5);
            color: $dark-grey;
            top: 50%;
            left: 50%;
            transform: none;
            text-align: center;
            z-index: -1;
            font-size: 280px;
            transform: translate(-50%, -50%);
            transition: all 0.5s;
          }

          .jv-title {
            color: $dark-purple;
          }
        }
      }

      .jv-group-title {
        background-color: $light-grey;
        padding: 40px 35px;
        transform: translateY(50%);
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        i {
          font-size: 72px;
          position: absolute;
          top: -58px;
          left: 50%;
          transform: translate(-50%, 32%);
          color: $text;
        }

        .jv-title {
          font-size: 30px;
          line-height: 34px;
          color: $text;
          font-family: $title-font;
          text-align: center;
        }
      }
    }

    @media screen and (min-width: 1200px){
      &:nth-child(3n+2){
        //transform: translateY(33%);

        .jv-article {
          justify-content: flex-start;

          &:hover {
            .jv-group-title {
              transform: translateY(0%);

              i {
                top: 50%;
              }
            }
          }

          .jv-group-title {
            transform: translateY(-50%);

            i {
              //top: -50%;
            }
          }
        }
      }
    }
  }
}
