.jv-elementor-categories-articles {

  @media screen and (max-width: 767px){
    margin-left: 40px;
    margin-right: 40px;
  }

  @media screen and (max-width: 575px){
    margin-left: 15px;
    margin-right: 15px;
  }

  .col-lg-6,
  .col-lg-4 {
    height: 600px;
    margin-top: 80px;
    margin-bottom: 100px;

    @media screen and (max-width: 768px){
      margin-top: 40px;
      margin-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (max-width: 575px){
      height: 400px;
    }

    .jv-vignette {
      .jv-category {
        background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(241,241,241,0) 30%);

        @media screen and (max-width: 767px){
          background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(241,241,241,0) 10%);
        }

        .jv-group-title {
          display:flex;
          flex-direction: column;

          i {
            font-size: 236px;
            max-height: 292px;
            max-width: 200px;
          }

          svg {
            max-height: 292px;
            max-width: 200px;
            fill: $secondary;
          }

          .jv-category_name {
            padding-left: 110px;
            margin-left: -60px;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;

            .jv-subtitle {
              font-family: $title-font;
              font-size: 80px;
              line-height: 4px;
              color: $light-grey;
              opacity: 0.5;
            }

            .jv-title {
              line-height: 38px;
              color: $light-grey;
            }
          }
        }
      }
    }
  }

  .col-md-12 {
    height: 400px;
    margin: 20px;

    .jv-vignette {

      .jv-category {

        .jv-group-title {

          i {
            font-size: 140px;
            max-height: 140px;
            max-width: 140px;
          }

          svg {
            max-height: 140px;
            max-width: 140px;
          }

          .jv-title {
            padding-left: 100px;
            margin-left: -70px;
            font-size: 30px;
            line-height: 40px;
            padding-right: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
            min-width: 280px;
            color: $secondary;
          }
        }
      }
    }
  }

  div {
    background-size: cover;
    position: relative;

    .jv-vignette {
      margin: 10px;
      height: 100%;

      .jv-vignette-bg {
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .jv-category {
        max-width: 100%;
        height: 100%;
        width: 100%;
        display: flex;

        .jv-group-title {
          display:flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          width: 100%;
          transition: all 0.5s;

          i {
            color: white;
            z-index: 2;
          }

          svg {
            z-index: 2;
            fill: white;
            path {
              fill: $dark-purple;
            }
          }

          .jv-category_name {
            font-family: $text-font;
            font-weight: 300;
            z-index: 1;
            background-color: rgba(241, 241, 241, 0.5);
            color: $text;
            transition: all 0.5s;
          }
        }
      }

      &:hover {
        .jv-vignette-bg {
          background-image: none;
          //filter: grayscale(1);
        }

        .jv-category {
          position: relative;

          .jv-group-title {
            flex-direction: column;
            justify-content: center;
            left: 0px;
            padding-left: 0px;
            padding-right: 0px;
            position: absolute;
            top: 50%;
            //transform: translateY(-50%);

            svg {
              position: absolute;
              z-index: 0;
              max-height: 280px;
              max-width: 280px;
              path {
                fill: $dark-purple;
              }
            }
            .jv-title {
              width: 110%;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 0px;
              margin-bottom: 0px;
              padding-right: 100px;
              padding-left: 100px;
              text-align: center;
              background-color: none;
              border: none;
            }
          }
        }
      }
    }
  }
}

.elementor-widget-categories_articles {
  &.col-left {
    .jv-vignette {
      .jv-category {
        .jv-group-title {
          left: 140px;
          .jv-title {
            border: 1px solid $dark-purple;
          }
        }
      }
    }
  }

  &.col-right {
    .jv-vignette {
      .jv-category {
        .jv-group-title {
          left: -140px;
          flex-direction: row-reverse;
          border: 1px solid $dark-purple;
          .jv-title {
            padding-right: 100px;
            padding-left: 30px;
            margin-right: -70px;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
