
  .jv-etape {
    @media screen and (min-width: 1201px){
      margin-bottom: 80px;
    }    

    @media screen and (max-width: 1200px){
      display: flex;
      flex-direction: column;
    }

    .col-xl-4 {
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      //max-height: 750px;

      @media screen and (max-width: 1440px) and (min-width: 1200px){
        flex: 0 0 40%;
        max-width: 40%;
      }


      @media screen and (max-width: 1200px){
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: -100px;
      }

      @media screen and (max-width: 992px){
        max-height: none;
      }

      &.content-left {
        padding-left: 60px;
        padding-right: 0px;

        /*@media screen and (max-width: 1600px){
          padding-left: 60px;
        }*/

        @media screen and (max-width: 1440px){
          padding-left: 40px;
        }

        @media screen and (max-width: 1200px){
          padding-right: 40px;
        }

        @media screen and (max-width: 992px){
          order: 2;
        }

        @media screen and (max-width: 575px){
          padding-left: 15px;
          padding-right: 15px;
        }

        .jv-content-title {
          .jv-border-top {
            margin-left: 15px;
            margin-right: 10px;
            z-index: 2;

            @media screen and (max-width: 1200px){
              z-index: 30;
            }
          }
        }

        .jv-content {
          position: relative;

          .jv-content-description {
            margin-left: 20px;
            padding-left: 30px;
            padding-right: 40px;
            margin-right: -20px;
            border-right: none;

            @media screen and (max-width: 1445px){
              margin-left: 22px;
            }

            @media screen and (max-width: 1200px){
              border-right: 2px solid $secondary;
              margin-right: 0px;
              padding-right: 40px;
              margin-left: 20px;
              margin-right: 20px;
            }


            @media screen and (max-width: 575px){
              margin-left: 0px;
              padding-left: 20px;
              margin-right: 0px;
              padding-right: 20px;
            }

            &::after {
              display: flex;
              flex-grow: 1;
              content: " ";
              height: calc(100% - 150px);
              border-right: 2px solid $secondary;
              position: absolute;
              right: -20px;
              bottom: 80px;

              @media screen and (max-width: 1200px){
                display: none;
              }
            }
          }
        }
      }

      &.content-right {
        padding-right: 60px;
        padding-left: 0px;

        /*@media screen and (max-width: 1600px){
          padding-right: 60px;
        }*/

        @media screen and (max-width: 1440px){
          padding-right: 40px;
        }

        @media screen and (max-width: 1200px){
          padding-left: 40px;
        }

        @media screen and (max-width: 575px){
          padding-left: 15px;
          padding-right: 15px;
        }

        .jv-content-title {
          .jv-border-top {
            margin-right: 15px;
            margin-left: 10px;
            z-index: 2;

            @media screen and (max-width: 1200px){
              margin-right: 50px;
            }
          }
        }

        .jv-content {
          position: relative;

          .jv-content-description {
            margin-right: 20px;
            padding-right: 30px;
            padding-left: 40px;
            margin-left: -20px;
            border-left: none;

            @media screen and (max-width: 1200px){
              border-left: 2px solid $secondary;
              margin-left: 0px;
              padding-right: 40px;
              margin-left: 20px;
              margin-right: 20px;
            }

            @media screen and (max-width: 575px){
              margin-right: 20px;
              padding-right: 20px;
              margin-left: 0px;
              padding-left: 20px;
            }

            &::after {
              display: flex;
              flex-grow: 1;
              content: " ";
              height: calc(100% - 150px);
              border-left: 2px solid $secondary;
              position: absolute;
              left: -20px;
              bottom: 80px;

              @media screen and (max-width: 1200px){
                display: none;
              }
            }
          }
        }
      }

      .jv-content-title {
        display: flex;
        margin-bottom: 20px;

        .jv-border-top {
          display: flex;
          flex-grow: 1;
          border-top: 2px solid $secondary;
          margin: auto;
        }
      }

      .jv-content {
        position: relative;

        @media screen and (max-width: 575px){
          padding-left: 15px;
        }

        .jv-content-description {
          margin-bottom: 80px;
          padding-bottom: 50px;
          border-left: 2px solid $secondary;
          border-bottom: 2px solid $secondary;
          border-right: 2px solid $secondary;
        }
      }
    }

    .col-xl-8 {
      padding-left: 0px;
      padding-right: 0px;
      max-height: 750px;

      @media screen and (max-width: 1440px) and (min-width: 1200px){
        flex: 0 0 60%;
        max-width: 60%;
      }

      @media screen and (max-width: 1200px){
        flex: 0 0 100%;
        max-width: 100%;
      }

      @media screen and (max-width: 992px){
        max-height: none;
      }

      @media screen and (max-width: 575px){
        margin-top: 40px;
      }

      &.content-left {
        .jv-content-map {
          right: 40px;
        }
      }

      &.content-right {
        .jv-content-map {
          left: 40px;
        }
      }

      .jv-content-image {
        .swiper-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          .swiper-slide {
            display: flex;
            justify-content: center;
          }
        }

        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: $secondary;
            border: 2px solid white;

            &.swiper-pagination-bullet-active {

            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          font-size: 25px;
          color: $secondary;
          height: 25px;
          background-image: none !important;
          margin-left: 20px;
          margin-right: 20px;
          z-index: 25;

          @media screen and (max-width: 992px){
            //display: none;
          }

          &::after {
            font-size: 25px;
            color: $secondary;
            height: 25px;

            @media screen and (max-width: 992px){
              //display: none;
            }
          }
        }
      }

      .jv-content-map {
        z-index: 2;
        position: absolute;
        top: 40px;
        width: 200px;
        height: 200px;
        padding: 15px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);

        @media screen and (max-width: 992px){
          width: 150px;
          height: 150px;
        }

        @media screen and (max-width: 575px){
          top: -40px;
          padding: 5px;
          width: 100px;
          height: 100px;
        }

        .jv-map {
          width: 100%;
          height: 100%;
          background-size: cover;
        }
      }
    }
  }
