.wpcf7 {
    input, textarea {
        width: 100%;
        border: 1px solid $secondary;
        border-radius: 5px;
        padding: 2px 5px;
        color: $secondary;
    }

    a {
        color: $secondary;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    label {
        width: 100%;
    }

    .wpcf7-acceptance {
        margin-left: 0;

        label {
            display: flex;
            align-items: center;

            a {
                color: $secondary;
                text-decoration: underline;

                @media screen and (min-width: 375px){
                    margin-left: 5px;
                }     
                
                &:hover {
                    text-decoration: none;
                    color: $brand-color;
                }
            }

            input[type="checkbox"]{
                width: auto;
                margin-right: 10px;
            }

            .wpcf7-list-item-label {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
            }
        }

        .wpcf7-list-item {
            margin-left: 0;
        }
    }

    input[type="submit"]{
        padding: 8px 80px;
        background-color: $secondary;
        color: $white;
        border: none;
        width: auto;

        &:hover {
            background-color: $brand-color;
        }
    }
}