.elementor-widget-galerie {
  .jv-elementor-image-galerie {
    height: 382px;

    @media screen and (max-width: 992px){
      height: 1200px;
    }

    @media screen and (max-width: 767px){
      height: auto;
    }

    & > .row {
      @media screen and (max-width: 992px){
        height: 1200px;
      }

      @media screen and (max-width: 767px){
        height: auto;
      }
    }

    div {
      height: 100%;

      @media screen and (max-width: 767px){
        height: auto;
      }
    }

    .jv-child-background{
      padding: 5px;

      &:hover {
        z-index: 1;
      }
      
      .jv-elementor-image {
        background-size: cover;

        @media screen and (max-width: 767px){
          height: 400px;
        }

        @media screen and (max-width: 575px){
          height: 300px;
        }

        &:hover {
          transform: scale(1.2);
          z-index: 20;
          cursor: pointer;
        }

        figure, a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    .col-lg-6 {
      @media screen and (max-width: 992px){
          height: 600px;
          margin: 0;
      }

      @media screen and (max-width: 767px){
        height: auto;
      }

      &:last-child {
        @media screen and (max-width: 992px){
          margin-left: 15px;
          margin-right: 15px;
        }
      }

      .col-md-8 {
        display:flex;
        flex-direction: column;
        .row {
          &:first-child {
            height: 66%;

            @media screen and (max-width: 767px){
              height: auto;
            }
          }
          &:last-child {
            height: 33%;

            @media screen and (max-width: 767px){
              height: auto;
            }

            .jv-elementor-color {
               background-color: $brand-color;

               @media screen and (max-width: 767px){
                 display: none;
               }
            }
          }
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        .row {
          height: 50%;
          .jv-elementor-color {
            background-color: $white;
          }

          .col-md-4 {
            display: flex;
            flex-direction: column;
            .jv-elementor-color {
              background-color: $text;
            }
          }
        }
      }
    }
  }
}
