.elementor-widget-line_galerie {
  //overflow-x: hidden;
  //width: max-content !important;
  width: 100vw !important;
  margin: auto;
  max-width: 100vw;

  .elementor-widget-container {
    .jv-elementor-image-line-galerie {
      .jv-content-image {
        overflow: hidden;
        
        .container-line-galerie {
          overflow: hidden;
          width: max-content !important;
          display: flex;

          /*.swiper-wrapper {
            overflow: hidden;
            width: max-content !important;*/

            .container-image-line-galerie {
              margin-top: 25px;
              margin-bottom: 25px;
              width: 150px;
              height: 150px;
              margin-left: 30px;
              margin-right: 30px;
              position: relative;

              &:hover {
                transform: scale(1.2) !important;
                transition: 0.5s ease-in transform;
              }

              &:nth-child(2n){
                margin-top: 40px;

                &::before {
                  content: " ";
                  position: absolute;
                  width: calc(100% - 20px);
                  height: calc(100% - 20px);
                  border: 1px solid $dark-grey;
                  border-left-color: $dark-grey;
                  border-bottom-color: $dark-grey;
                  margin-top: 10px;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  margin-left: 10px;
                }
              }

              &:nth-child(2n+1){
                &::before {
                  content: " ";
                  position: absolute;
                  width: calc(100% - 20px);
                  height: calc(100% - 20px);
                  border: 1px solid $dark-grey;
                  border-right-color: $dark-grey;
                  border-top-color: $dark-grey;
                  margin-bottom: 10px;
                  margin-left: 10px;
                  margin-top: 10px;
                  margin-right: 10px;
                }
              }
            }
          //}
        }
      }
    }
  }
}
