.jv-elementor-slider {
  .swiper-container.gallery-top {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
      background-size: cover;
      background-position: center;

      &.swiper-slide-active {
        display: flex;
        justify-content: flex-end;
      }

      &:not(.swiper-slide-active){
        display: none;
      }

      .jv-elementor-background-mobile {
        display: none;
      }

      .jv-elementor-content {
        width: 436px;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-top: 130px;
        padding-right: 83px;
        animation-name: sliderContent;
        animation-duration: 2s;

        .jv-elementor-titles {
          display: flex;
          flex-direction: column;

          span {
            color: $white;
            position: relative;
            display: inline-block;

            &.jv-elementor-slide-subtitle {
              font-family: $title-font;
              font-size: 50px;
              line-height: 56px;
            }

            &.jv-elementor-slide-title {
              font-family: $text-font;
              font-size: 80px;
              line-height: 84px;
              text-transform: uppercase;

              span {
                transform-origin: 50% 100%;
                display: inline-block;
                //min-width: 20px;
              }
            }
          }
        }
      }
    }
  }

  .swiper-container.gallery-thumbs {
    position: absolute;
    bottom: 43px;
    right: 43px;
    height: 150px;
    padding:0;

    .swiper-wrapper {
      display: flex;
      justify-content: flex-end;

      .jv-elementor-slide {
        width: 150px !important;
        height: 150px;
        opacity: 1;
        background-size: cover;

        &:not(.swiper-slide-thumb-active){
          background-color: rgba(0,0,0, 0.4);
        }

        &.swiper-slide-thumb-active {
          border: 2px solid $white;
        }

        &:hover {
          cursor: pointer;
          border: 2px solid $white;
        }
      }
    }

  }
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

@media screen and (max-width: 768px){
  .jv-elementor-slider {
    .swiper-container.gallery-top {
      height: 80vh;

      .swiper-slide {
        align-items: flex-end;

        .jv-elementor-content {
          width: 100%;
          align-items: flex-start;
          padding: 80px 40px 40px 150px;
          text-align: left;

          .jv-elementor-titles {
            & > span {
              color: $white !important;
              white-space: normal;

              &.jv-elementor-slide-subtitle {
                font-size: 35px;
                line-height: 39px;
              }

              &.jv-elementor-slide-title {
                font-size: 60px;
                line-height: 64px;

                span {
                  color: $white !important;
                }
              }
            }
          }

          .btn {
            width: 150px;
          }
        }
      }
    }

    .swiper-container.gallery-thumbs {
      bottom: 40px;
      left: 40px;
      right: auto;
      height: 100%;

      .swiper-wrapper {
        flex-direction: column;

        .jv-elementor-slide {
          width:75px !important;
          height: 75px;
          margin-top: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .jv-elementor-slider {
    .swiper-container.gallery-top {
      min-height: 90vh;
      height: auto;
      .swiper-slide {
        flex-direction: column;

        .jv-elementor-background-mobile {
          display:flex;
          height: 70vh;
          width: 100%;
          background-size: cover;
        }

        .jv-elementor-content {
          padding: 80px 40px 20px 40px;
          text-align: left;
          height: auto;
          min-height: 30vh;

          .jv-elementor-titles {
            & > span {
              &.jv-elementor-slide-subtitle {
                font-size: 25px;
                line-height: 29px;
              }

              &.jv-elementor-slide-title {
                font-size: 35px;
                line-height: 40px;
              }
            }
          }

          .btn {
            width: 150px;
            margin-top: 25px;
          }
        }
      }
    }

    .swiper-container.gallery-thumbs {
      top: 40px;

      @media screen and (max-width: 767px){
        top: 60px;
      }

      .swiper-wrapper {
        justify-content: flex-start;

        .jv-elementor-slide {
          width:50px !important;
          height: 50px;
          margin-top: 17px;
        }
      }
    }
  }
}
