.jv-elementor-slider.jv-elementor-slider-superposition {
  .swiper-container.gallery-top {
    width: 100%;
    height: calc(100vh - 81px);
    min-height: calc(100vh - 81px);
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;

    @media screen and (max-width: 575px){
      height: 100vh;
      min-height: 80vh;
      //margin-top: 130px;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
      position: relative;

      &:not(.swiper-slide-active){
        display: none;
      }

      /*.jv-elementor-image-front {
        bottom: 0;
        position: absolute;
        width: 100%;
      }*/

      .jv-elementor-image-front,
      .jv-elementor-image-back {
        background-size: cover;
        background-position: bottom center;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .jv-elementor-content {
        position: absolute;
        width: auto;
        animation-name: sliderContent;
        animation-duration: 2s;
        align-items: flex-start;
        text-align: left;

        @media screen and (max-width: 768px){
          left: 140px !important;
          z-index: 10;
          padding: 0px;
        }

        @media screen and (max-width: 575px){
          min-height: 20vh;
          bottom: 75px !important;
          left: 40px !important;
          width: calc(100vw - 80px);
        }

        .jv-elementor-titles {
          display: flex;
          flex-direction: column;

          span {
            color: $white;
            z-index: 10;

            &.jv-elementor-slide-subtitle {
              font-family: $title-font;
              font-size: 35px;
              line-height: 39px;

              @media screen and (max-width: 768px){
                font-size: 25px;
                line-height: 29px;
              }
            }

            &.jv-elementor-slide-title {
              font-family: $text-font;
              font-size: 80px;
              line-height: 84px;
              text-transform: uppercase;
              font-weight: 600;

              @media screen and (max-width: 768px){
                font-size: 45px;
                line-height: 48px;
              }

              @media screen and (max-width: 575px){
                font-size: 27px;
                line-height: 30px;
                font-weight: 400;
              }
            }
          }
        }

        .jv-elementor-description {
          color: $white;
        }

        .btn-link-slide {
          margin-top: 20px;
          background-color: $secondary;
          color: $white;
          padding: 5px 15px;
          display: block;
          max-width: max-content;
          position: relative;
          z-index: 11;
  
          &:before {
            content: "";
            position: absolute;
            border: 1px solid $white;
            width: 100%;
            height: 100%;
            left: -4px;
            top: -4px;
          }
  
          &:hover {
            background-color: $white;
            color: $secondary;
          }
        }
      }

      .link-slide {
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

@media screen and (max-width: 768px){
  .jv-elementor-slider {
    .swiper-container.gallery-top {
      height: 80vh;

      .swiper-slide {
        align-items: flex-end;

        .jv-elementor-content {
          width: 100%;
          align-items: flex-start;
          padding: 80px 40px 40px 150px;
          text-align: left;

          .jv-elementor-titles {
            & > span {
              color: $white !important;
              white-space: normal;

              &.jv-elementor-slide-subtitle {
                font-size: 35px;
                line-height: 39px;
              }

              &.jv-elementor-slide-title {
                font-size: 60px;
                line-height: 64px;

                span {
                  color: $white !important;
                  //min-width: 20px;
                }
              }
            }
          }
        }
      }
    }

    .swiper-container.gallery-thumbs {
      bottom: 40px;
      left: 40px;
      right: auto;
      height: 100%;

      .swiper-wrapper {
        flex-direction: column;

        .jv-elementor-slide {
          width:75px !important;
          height: 75px;
          margin-top: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .jv-elementor-slider {
    .swiper-container.gallery-top {
      min-height: 90vh;
      height: auto;
      .swiper-slide {
        flex-direction: column;

        .jv-elementor-background-mobile {
          display:flex;
          height: 70vh;
          width: 100%;
          background-size: cover;
        }

        .jv-elementor-content {
          padding: 80px 40px 20px 40px;
          text-align: left;
          height: auto;
          min-height: 30vh;

          .jv-elementor-titles {
            & > span {
              &.jv-elementor-slide-subtitle {
                font-size: 20px;
                line-height: 24px;
              }

              &.jv-elementor-slide-title {
                font-size: 35px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }

    .swiper-container.gallery-thumbs {
      top: 40px;

      @media screen and (max-width: 767px){
        top: 60px;
      }

      .swiper-wrapper {
        justify-content: flex-start;

        .jv-elementor-slide {
          width:50px !important;
          height: 50px;
          margin-top: 17px;
        }
      }
    }
  }
}
