.jv-elementor-heading {
  display: flex;
  flex-direction: column;

  .jv-elementor-heading-subtitle {
    text-transform: uppercase;
  }
}

.jv-heading {
  display: flex;
  flex-direction: column;

  .jv-heading-subtitle {
    font-family: $title-font;
    font-size: 100px;
    line-height: 0;
    font-weight: 500;
    color: $dark-grey;

    @media screen and (max-width: 768px){
      font-size: 80px;
    }

    @media screen and (max-width: 575px){
      font-size: 60px;
    }
  }

  .jv-heading-title {
    font-family: $text-font;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    color: $text;

    @media screen and (max-width: 768px){
      font-size: 30px;
      line-height: 25px;
    }

    @media screen and (max-width: 575px){
      font-size: 28px;
      line-height: 23px;
    }
  }
}
