.accordion {
  .accordion-item {
    transition: 0.4s;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 90px;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      .accordion-header {
        //border-bottom: 1px solid $text;
      }
    }

    &.active {
      .accordion-header {
        border-bottom: 1px solid $text;

        &::before {
          transform: rotate(0deg);
        }
      }
    }

    .accordion-header {
      width: 100%;
      padding: 15px;
      margin-bottom: 0;
      position: relative;
      font-size: 20px;
      line-height: 24px;
      //border: 1px solid $text;
      //border-bottom: none;

      &::before, &::after {
        content: " ";
        border-bottom: 1px solid $text;
        width: 15px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: 15px;
        transition: 0.4s;
      }

      &::before {
        transform: translateY(-50%) rotate(90deg);
      }

      &::after {
        transform: translateY(-50%);
      }
    }

    .accordion-collapse {
      display: none;
      width: 100%;
      padding-left: 34px;

      .accordion-post {
        text-align: left;

        .accordion-post-link {
          background-color: transparent;
          color: $text;
        }
      }
    }
  }
}
