html {  
  scroll-behavior: smooth;
}

body {
  background-color: $light-grey;
  overflow-x: hidden;

  /*@media screen and (max-width: 768px){
    position:absolute;
  }*/

  &.page-id-647 {
    .wsp-container {
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px;
      
      a {
        color: $brand-color;
      }
    }
  }

  .btn {
    border: 2px solid $dark-grey;
    padding: 17px auto;
    width: 246px;
    border-radius: 0px;
    font-family: $text-font;
    font-weight: 300;
    font-size: 18px;

    @media screen and (max-width: 575px){
      font-size: 15px;
    }

    &.btn-border-white {
      border: 2px solid $white;
      color: $white;
      margin-top: 70px;

      &:hover {
        background-color: $white;
        color: $brand-color;
      }
    }
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .elementor-widget-text-editor {
    p {
      a {
        color: $brand-color;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .jv-elementor-heading {
    display: flex;
    flex-direction: column;

    .jv-elementor-heading-subtitle {
      color: $dark-grey;
      font-family: $title-font;
      font-size: 100px;
      font-weight: 500;
      line-height: 0px;

      @media screen and (max-width: 768px){
        font-size: 80px;
      }

      @media screen and (max-width: 575px){
        font-size: 60px;
      }
    }

    .jv-elementor-heading-title {
      color: $secondary;
      font-family: $text-font;
      font-size: 40px;
      font-weight: 300;
      line-height: 40px;
      margin-top: -8px;

      @media screen and (max-width: 768px){
        font-size: 30px;
        line-height: 25px;
      }

      @media screen and (max-width: 575px){
        font-size: 28px;
        line-height: 23px;
      }
    }
  }

  .jv-bg-parallax {
    overflow: hidden;
  }

  div, span, p {
    font-family: $text-font;
    font-weight: 300;
  }

  .cky-consent-container.cky-banner-bottom {
    .cky-notice-group {
      p {
        @media screen and (max-width: 767px){
          line-height: 14px;
        }
      }
    }

    .cky-notice-btn-wrapper {
      @media screen and (max-width: 767px){
        flex-direction: row;
      }

      .cky-btn{
        @media screen and (max-width: 767px){
          margin-left: 5px;
          margin-right: 5px;
          font-size: 12px;
          line-height: 14px;
          padding: 6px;
        }

        &.cky-btn-accept {
          @media screen and (max-width: 767px){
            margin-top: 10px;
            margin-left: 0;
          }
        }

        &.cky-btn-reject {
          @media screen and (max-width: 767px){
            margin-right: 0;
          }
        }
      }
    }
  }
}

.section-geometry350 {
  .elementor-background-overlay {
    -webkit-mask-image: url('/themes/jy-vais/assets/images/geometrie-triangle-inverse-350px.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    -webkit-mask-size: cover;
  }
}

.section-geometry500 {
  .elementor-background-overlay {
    -webkit-mask-image: url('/themes/jy-vais/assets/images/geometrie-triangle-inverse-500px.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    -webkit-mask-size: cover;
  }
}

.section-geometry1080 {
  .gallery-top {
    .jv-elementor-slide {
      -webkit-mask-image: url('/themes/jy-vais/assets/images/geometrie-triangle-inverse-1080px.svg');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: bottom center;
      -webkit-mask-size: cover;
    }
  }
}
