.post-header {
  padding-top: 120px;
  padding-bottom: 120px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  @media screen and (max-width: 992px){
    padding-top: 200px;
    padding-bottom: 40px;
    background-attachment: inherit;
  }

  .elementor-container {
    position: relative;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 992px){
      display: flex;
      flex-direction: column;
    }

    .post-icon {
      z-index: 2;

      @media screen and (max-width: 992px){
        text-align: right;
        margin-bottom: -60px;
        margin-right: 40px;
      }

      @media screen and (max-width: 768px){
        margin-bottom: -40px;
      }

      @media screen and (max-width: 575px){
        margin-right: 0px;
        margin-bottom: -35px;
      }

      i {
        font-size: 292px;

        @media screen and (max-width: 992px){
          font-size: 80px;
          margin-right: 50px;
        }
      }
    }

    .post-breadcrumb {
      width: auto;
      display: flex;
      flex-direction: column;
      /*position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 200px;*/
      margin-top: auto;
      margin-bottom: auto;
      margin-left: -100px;
      width: auto;
      padding-left: 110px;
      padding-right: 60px;
      padding-top: 10px;
      background-color: $light-grey;

      @media screen and (max-width: 992px){
        position: relative;
        left: 0px;
        top: auto;
        transform: none;
      }

      @media screen and (max-width: 767px){
        max-width: 100%;
        margin-left: 0px;
      }

      @media screen and (max-width: 575px){
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        margin-left: 40px;
        margin-right: 40px;
      }

      #breadcrumbs {
        margin-bottom: 20px;
        color: $brand-color;

        a {
          color: $text;

          &:hover {
            color: $text;
          }
        }
      }

      .post-title {
        position: relative;
        display: inline-block;
        line-height: 4px;

        .word {
          white-space: nowrap;
        }

        .word, .letter {
          color: $text;
          font-family: "Indie Flower", Sans-serif;
          font-size: 36px;
          line-height: 40px;
          font-weight: 400;
          transform-origin: 50% 100%;
          display: inline-block;

          @media screen and (max-width: 575px){
            font-size: 25px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
