#back-to-top {
  right: 15px;
  bottom: 15px;
  background-color: $secondary;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  border: none;
  line-height: 54px;
  z-index: 1000;

  &:hover {
    background-color: $brand-color;

    i {
      color: $secondary;
    }    
  }

  i{
    color: $white;
  }
}

footer {
  #footer-row {
    background-color: $dark-grey;
    color: $secondary;
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
      @media screen and (min-width: 1420px){
        max-width: 1400px;
      }

      .col-md-4 {
        margin-bottom: 35px;
        
        &:first-child {
          a {
            color: #212e53;
            font-family: "Indie Flower";
            font-size: 30px;
          }
        }

        &:nth-child(2), &:last-child {
          .jv-elementor-heading {
            font-size: 25px;
            line-height: 28px;
            font-family: $title-font;
          }

          ul {
            list-style: none;
            margin-left: 10px;
            padding-left: 15px;
            border-left: 1px solid $secondary;

            li {
              a {
                color: $secondary;
                font-weight: 300;
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
  #copyright {
    background-color: $secondary;
    color: $white;
    margin-right: 0px;
    margin-left: 0px;

    p {
      margin-top: 1em;
    }
  }
}
