header {
  width: 100%;
  z-index: 1001;
  background-color: #ebe9e944;
  max-width: 100vw;

  /*@media screen and (max-width: 1024px){
    background-color: transparent;
  }*/

  &.fixed {
    background-color:$dark-grey;

    .wrapper {
      .nav-main {
        li {
          a {
            color: $secondary;
          }
        }
      }
    }
  }

  .wrapper {
    .hdr-logo {
      width: 33%;
      padding: 22px 60px;
      margin-bottom: 0;

      @media screen and (max-width: 1400px){
        padding-left: 20px;
        padding-right: 20px;
      }

      @media screen and (max-width: 1024px){
        width: 50%;
        margin-bottom: 0;
      }

      @media screen and (max-width: 768px){
        line-height:15px;
      }

      a {
        color: $secondary;
        font-family: $title-font;
        font-size: 26px;

        @media screen and (max-width: 1400px){
          font-size: 21px;
        }

        @media screen and (max-width: 768px){
          font-size: 16px;
          line-height: 19px;
        }

        &:hover {
          text-decoration-thickness: 1.5px;
        }
      }
    }
    .nav-main {
      width: 85%;

      li {
        padding: 13px 15px;
        a {
          font-size: 20px;
          line-height: 28px;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .searchbar {
      display: flex;
      align-items: center;
      padding-right: 15px;

      @media screen and (min-width: 768px){
        padding-right: 30px;
      }

      i {
        color: $secondary;
        margin-top: 10px;
        cursor: pointer;

        @media screen and (min-width: 537px){
          margin-top: -10px;
        }
      }

      form {
        position: absolute;
        top: 92px;
        width: 100%;
        left: 0;

        &.open {
          display: block;

          .search-custom-form {
            max-height: 38px;
            opacity: 1;
          }
        }

        .search-custom-form {
          margin: auto;
          max-height: 0px;
          transition: all .5s;
          overflow: hidden;
          opacity: 0;
          max-width: 90%;
  
          @media screen and (min-width: 768px){
            max-width: 550px;
          }

          input[type="text"]{
            width: 100%;
            background-color: $light-grey;
            color: $secondary;
            border: 1px solid $secondary;
            border-radius: 0px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 2.5px 10px;
            border-color: $secondary;
            outline: none;
          }

          button{
            background-color: $secondary;
            color: $light-grey;
            border: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: -2px;

            &:hover {
              background-color: $brand-color;
            }

            i {
              color: $light-grey;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
