header {
  @media screen and (max-width: 1024px){
    position: fixed;
  }

  &.open {
    @media screen and (max-width: 1024px){
      background-color: $dark-grey !important;
      transition: all 0.9s;
      transition-delay: 0.2s;
    }
  }

  nav.nav-main {
    #navbarHeader {
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      position: relative;
      top: 11px;
      right: 50px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      @media screen and (max-width: 1024px){
        top: 35px;
      }

      input {
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        right: -5px;
        display: none;

         @media screen and (max-width: 1024px){
           display: block;
         }

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;

        &:checked {
          & ~ span {
            @media screen and (min-width: 1025px){
              display: none;
            }

            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $secondary;
          }

          & ~ span:nth-last-child(3)
          {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }

          & ~ span:nth-last-child(2)
          {
            transform: rotate(-45deg) translate(0, -1px);
          }

          & ~ ul
          {
            display: block;
            opacity: 1;
            transform: translateY(954px);
            transition: all 0.8s ease-in-out 0s, opacity 0.5s ease-in-out 0.3s, visibility 0.8s linear 0s, transform 0.5s linear 0.2s, z-index 0s linear 0.01s;

            //animation: rotateMenu 600ms ease-in-out forwards;
            //transform-origin: top center;
          }
        }
      }

      span {
        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2){
          transform-origin: 0% 100%;
        }

        @media screen and (min-width: 1025px){
          display: none;
        }

        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 7.5px;
        position: relative;

        background: $secondary;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
    }

    ul {
      //display: flex;
      list-style-type: none;
      visibility: visible;
      @media screen and (min-width: 1025px){
        display: flex;
      }

      @media screen and (max-width: 1024px){
        //display: none;
        //visibility: hidden;
        top: -908px;
        opacity: 0;
        position: absolute;
        right: -50px;
        flex-direction: column;
        width: 100vw;
        background-color: $dark-grey;
        //transition-delay: 0s, 0s, 0.3s;
        z-index: 1;
        transform: rotateX(0deg);
        transition: all 0.5s ease-in-out 0s, opacity 0.2s ease-in-out 0s, visibility 0.8s linear 0s, transform 0.8s linear 0s, z-index 0s linear 0.01s;

        //animation: rotateMenu 600ms ease-in-out backwards reverse;
        //transform-origin: top center;
      }

      li {
        a {
          color: $secondary;
          position: relative;

          @media screen and (max-width: 1024px){
            color: $secondary;
          }

          &::after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -5px;
            background: $secondary;
            height: 1px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }

          &:hover {

            &::after {
              left: 0;
              right: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
