$brand-color: #96BECF;
$secondary: #212e53;
$text: #212e53;
$light-grey: #F1F1F1;
$dark-grey: #EBE9E9;
$white: #FFFFFF;
$purple: #703E5E;
$pink: #9F3250;
$dark-purple: #212e53;
$kaki: #367871;
$kaki2: #4A6B53;

$title-font: "Indie Flower";
$text-font: "Josefin Sans";
$font-serif: "Cormorant";

/* ANIMATIONS */
@keyframes sliderContent {
  0% {
    margin-right: -100vw;
  }

  100% {
    margin-right: 0vw;
  }
}
