@import '~bootstrap/scss/bootstrap';
@import '~swiper/swiper-bundle.css';
@import 'animations/_animations.scss';
@import "_variables.scss";
@import "general/accordions";
@import "general/header";
@import "general/footer";
@import "general/menu";
@import "general/body";
@import "general/breadcrumbs.scss";

@import "maps/map.scss";

@import "pages/404";
@import "pages/categories";
@import "pages/home";
@import "pages/search";
@import "pages/single";

@import "widgets/slider";
@import "widgets/slider-superposition";
@import "widgets/title";
@import "widgets/galerie";
@import "widgets/articles-recents";
@import "widgets/categories-articles";
@import "widgets/etape";
@import "widgets/line_galerie";
@import "widgets/form";

@import "widgets/skins/skin-title-side";
@import "widgets/skins/skin-carousel-title-side";
@import "widgets/skins/skin-two-columns";
@import "widgets/skins/skin-last-posts";
@import "widgets/skins/skin-last-posts-one-column";
@import "widgets/skins/skin-last-posts-no-bg";

@font-face {
  font-family: 'jyvais';
  src:  url('../fonts/jyvais.eot?69tytg');
  src:  url('../fonts/jyvais.eot?69tytg#iefix') format('embedded-opentype'),
    url('../fonts/jyvais.ttf?69tytg') format('truetype'),
    url('../fonts/jyvais.woff?69tytg') format('woff'),
    url('../fonts/jyvais.svg?69tytg#jyvais') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Indie+Flower&family=Roboto:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

[class^="iconjv-"], [class*=" iconjv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jyvais' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjv-normandie:before {
  content: "\e900";
}
.iconjv-provence-alpes-cote-azur:before,
.iconjv-paca:before {
  content: "\e901";
}
.iconjv-bretagne:before {
  content: "\e902";
}


.material-icons,
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
