@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(33,46,83,0.7)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(33,46,83,0)
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(33,46,83,0)
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
