{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<h1>Désolé, nous n'avons pas trouvé la page demandée.</h1>
		<form role="search" method="get" id="searchform" class="searchform" action="{{ site.link }}">
		   <input type="text" value="{{ function('get_search_query') }}" name="s" id="s" placeholder="Entrez votre recherche"/>
		   <input type="submit" id="searchsubmit" value="Rechercher" />
		</form>
		<a class="link-home" href="http://localhost:8000/">Retour à l'accueil</a>
	</div>
{% endblock %}
