{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
<section class="elementor-section elementor-section-boxed post-header" style="background-image:url('{{ term.image.url }}')">
  <div class="elementor-container">
    <div class="post-icon">
      <i class="iconjv-{{ term.slug }}" style="color:{{ term.color_svg }};"></i>
    </div>
    <div class="post-breadcrumb">
      {{ breadcrumb }}
      <h1 class="post-title">{{ term.long_title }}</h1>
    </div>
  </div>
</section>
<section class="article-content">
  <div class="article-first-paragraph">
    <div class="container">
      <h2 class="jv-elementor-heading style-1">
        <span class="jv-elementor-heading-subtitle">{{ term.group_content_subtitle }}</span>
        <span class="jv-elementor-heading-title">{{ term.group_content_title }}</span>
      </h2>
      <div class="jv-elementor-description">
        {{ term.group_content_description }}
        <a href="#category-description" class="text-decoration-underline">Lire la suite</a>
      </div>
    </div>
  </div>
  {% if not term.parent %}
  <div class="article-map row">
    <div class="article-map-image col-md-6">
      <img src="{{ map }}" class="category-map"/>
    </div>
    <div class="article-map-polaroids col-md-6">
      <p class="jv-elementor-heading text-center mt-5">
        <span class="jv-elementor-heading-subtitle">Les</span>
        <span class="jv-elementor-heading-title">villes & villages à voir en {{ term.title }}</span>
      </p>
      <div class="accordion">
        

        {% for key_city, city in cities %}
          <div class="accordion-item article-map-polaroid" id="{{ city.slug }}" data-id="{{ key_city }}" data-left="{{ city.left }}" data-top="{{ city.top }}" data-name="{{ city.name }}">
            <p class="accordion-header">{{ city['name'] }}</p>
            <ul class="accordion-collapse collapse">
            {% for key_post_city, post_city in city['city_posts'] %}
                <li class="accordion-post" data-id="{{ key_post_city }}" >
                  <a class="accordion-post-link" href="{{ post_city.permalink }}">{{ post_city['name'] }}</a>
                </li>
            {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="jv-elementor-articles-recents jv-skin-last-posts-one-column">
    <p class="jv-elementor-heading text-center mt-5">
      <span class="jv-elementor-heading-subtitle">Les</span>
      <span class="jv-elementor-heading-title">dernières balades en {{ term.title }}</span>
    </p>
    <div>
      {% for post in posts %}
        {% if post.index % 2 != 0 %}
        <div class="jv-article row odd">
          {% else %}
        <div class="jv-article row even">
        {% endif %}
        <div class="jv-metadonnees col-md-6">
          <a href="{{ post.link }}">
            <div class="jv-image"  style="background-image:url('{{ post.thumbnail }}')">
            </div>
          </a>
        </div>
        <div class="jv-icon">
          {% for category in post.categories %}
            <a href='{{ category.link }}'><i class='iconjv-{{ category.slug }}'></i></a>
          {% endfor %}
        </div>
        <div class="jv-content col-md-6">
          <!--<div class="border-secondary-top"></div>-->
          <div class="jv-date-tags">
            <span class="jv-date"><span class="material-icons-outlined">calendar_month</span>{{ post.date('d/m/Y') }}</span>
            {#
            <div class="jv-tags">
              <span class="material-icons-outlined">bookmark</span>
              {% for term in post.tags %}
                <span>{{ term.title }}</span>
                {% if loop.index != 0 %}
                  <span>,</span>
                {% endif %}
              {% endfor %}
            </div>
            #}
          </div>
          <h3 class="jv-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
          <div class="jv-extract">
            <div class="jv-description">{{ post.post_excerpt }}</div>
            <div class="border-secondary-bottom"></div>
            <a href="{{ post.thumbnail }}" class="jv-link">Lire l'article</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="jv-elementor-articles-recents-pagination">
    {% if posts.pagination.prev %}
  		<a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Préc.</a>
  	{% endif %}
  	<ul class="pages">
  		{% for page in posts.pagination.pages %}
  			<li>
  				{% if page.link %}
  					<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
  				{% else %}
  					<span class="{{page.class}}">{{page.title}}</span>
  				{% endif %}
  			</li>
  		{% endfor %}
  	</ul>
  	{% if posts.pagination.next %}
  		<a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Suiv.</a>
  	{% endif %}
  </div>
  <div class="jv-elementor-description container mb-5" id="category-description">
    {{ term.group_content_2_description_seo }}
  </div>
</section>
{% endblock %}
