<button id="back-to-top" class="position-fixed">
  <i class="material-icons expand_less">expand_less</i>
</button>
<div id="footer-row">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="{{ website_link }}" class="hdr_logo_link">{{ website_name }}</a>
        <div class="website_description mt-2">
          Le <strong>blog des balades</strong> à faire près de chez soi, le temps d'une journée, d'un week-end ou d'un séjour. Un paire de baskets, un sac à dos et un appareil photo et c’est parti pour découvrir <strong>nos plus belles régions de France</strong>.
        </div>
      </div>
      <div class="col-md-4" id="footer_menu_1">
        <p class="footer-title jv-elementor-heading">Les destinations</p>
        <div class="footer-menu">
          {% if menu_footer_1 %}
            <ul class="navbarMenu">
        		{% for item in menu_footer_1.items %}
        			<li class="navbar-item {{ item.classes | join(' ') }}">
        				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
        			</li>
        		{% endfor %}
        		</ul>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4" id="footer_menu_2">
        <p class="footer-title jv-elementor-heading">Liens utiles</p>
        <div class="footer-menu">
          {% if menu_footer_2 %}
            <ul class="navbarMenu">
        		{% for item in menu_footer_2.items %}
        			<li class="navbar-item {{ item.classes | join(' ') }}">
        				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
        			</li>
        		{% endfor %}
        		</ul>
          {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="copyright">
  <div class="col-12">
    <p class="text-center">Copyright {{"now"|date('Y')}} © Les balades de Justine</p>
  </div>
</div>
