{% if menu %}
	<div class="" id="navbarHeader">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul class="navbarMenu">
		{% for item in items %}
			<li class="navbar-item {{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
