{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}" data-color="{{ color_icon }}">
			<section class="elementor-section elementor-section-boxed post-header" style="background-image:url('{{ photo_header }}')">
				<div class="elementor-container">
					<div class="post-icon">
						<i class="iconjv-{{ category_slug }}" style="color:{{ color_icon }};"></i>
					</div>
					<div class="post-breadcrumb">
						{{ breadcrumb }}
						<h1 class="post-title">{{ post.title }}</h1>
					</div>
				</div>
			</section>
			<section class="post-intro-content">
				<div class="row">
					<div class="col-12">
						<p class="jv-date d-flex justify-content-center align-items-center mt-4 mb-0">Écrit le {{ post.date('d/m/Y') }} par Justine</p>
					</div>
				</div>
				<div class="intro">
					<div class="row">
						<div class="col-xl-5 col-lg-12">
							<img src="{{ intro.image['url'] }}"  alt="{{ intro.image['alt'] }}"/>
							<div class="post-citation">
								<div class="citation-quote">“</div>
								<h2>{{ intro.citation }}</h2>
								<div class="citation-quote">”</div>
							</div>
							<div class="post-description container">
								<div class="post-description-teaser">
									<p>{{ description.teaser }}</p>
									<div class="see-more"><span class="icon">+</span></div>
								</div>
								<div class="post-description-content">
									{{ description.content }}
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-12">
							<div class="maps container">
								<h2 class="jv-heading">
									<span class="jv-heading-subtitle">{{ title_interests_points.subtitle }}</span>
									<span class="jv-heading-title">{{ title_interests_points.title }}</span>
								</h2>
								<div class="row">
									<div class="col-lg-8">
										{{ maps.shortcode }}
									</div>
									<div class="col-lg-4">
										<div class="jv-etapes">
											<ul class="jv-etapes-list">
											{% for etape_link in etapes.list %}
												{% if etape_link is not null %}
												<li><span>{{ loop.index }}</span> <a href="#{{ etape_link.ancre }}">{% if etape_link.illustration %}<img src="{{ etape_link.illustration['url'] }} " alt="{{ etape_link.illustration['alt'] }}"/>{% endif %}{{ etape_link.subtitle }} {{ etape_link.title }}</a></li>
												{% endif %}
											{% endfor %}
											</ul>
										</div>
										<p class="on-y-va">Alors on y va ?</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="image-transition">
					<img src="{{ image_transition['url'] }}"  alt="{{ image_transition['alt'] }}"/>
				</div>
			</section>
			{% for etape in etapes.list %}
				{% if etape is not null %}
					{% if (loop.index is odd) %}
					<section class="jv-etape row" id="{{ etape.ancre }}">
						<div class="col-xl-4 col-lg-6 col-sm-12 content-left">
							<div class="jv-content-title">
								<h2 class="jv-heading">
									<span class="jv-heading-subtitle">{{ etape.subtitle }}</span>
									<span class="jv-heading-title">{{ etape.title }}</span>
								</h2>
								<div class="jv-border-top"></div>
							</div>
							<div class="jv-content">
								<div class="jv-content-description">
									{{ etape.texte }}
								</div>
							</div>
						</div>
						<div class="col-xl-8 col-lg-6 col-sm-12 content-left">
							<div class="jv-content-illustration">

							</div>
							<div class="jv-content-image">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										{% for image in etape.carousel_images %}
										<div class="swiper-slide">
											{{ image }}
										</div>
										{% endfor %}
									</div>
									<div class="swiper-pagination"></div>
								</div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</section>
					{% else %}
					<section class="jv-etape row" id="{{ etape.ancre }}">
						<div class="col-xl-8 col-lg-6 col-sm-12 content-right">
							<div class="jv-content-illustration">

							</div>
							<div class="jv-content-image">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										{% for image in etape.carousel_images %}
										<div class="swiper-slide">
											{{ image }}
										</div>
										{% endfor %}
									</div>
									<div class="swiper-pagination"></div>
								</div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-sm-12 content-right">
							<div class="jv-content-title">
								<h2 class="jv-heading">
									<span class="jv-heading-subtitle">{{ etape.subtitle }}</span>
									<span class="jv-heading-title">{{ etape.title }}</span>
								</h2>
								<div class="jv-border-top"></div>
							</div>
							<div class="jv-content">
								<div class="jv-content-description">
									{{ etape.texte }}
								</div>
							</div>
						</div>
					</section>
					{% endif %}
				{% endif %}
			{% endfor %}
			<section class="bottom-description pt-3 pb-3">
				{{ bottom_description }}
			</section>
			<section class="post-nav">
				<ul>
					{% for etape in etapes.list %}
						{% if etape.title != "" %}
						<li><a href="#{{ etape.ancre }}"><span>{{ etape.subtitle }} {{ etape.title }}</span></a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</section>
			<section class="post-pagination">
				<div class="post-prev">
					{% if other_posts.prev_link is not null %}
					<a href="{{ other_posts.prev_link }}">
						<i class="eicon-arrow-left"></i>
						<div class="post-prev-image">
							<img src="{{ other_posts.prev_image }}" />
							<span>{{ other_posts.prev.post_title }}</span>
						</div>
					</a>
					{% endif %}
				</div>
				<div class="post-next">
					{% if other_posts.next_link is not null %}
					<a href="{{ other_posts.next_link }}">
						<div class="post-next-image">
							<span>{{ other_posts.next.post_title }}</span>
							<img src="{{ other_posts.next_image }}" />
						</div>
						<i class="eicon-arrow-right"></i>
					</a>
					{% endif %}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
