<article class="tease tease-{{post.post_type}} col-lg-4 col-md-6" id="tease-{{post.ID}}">
	{% block content %}
	<div class="jv-article">
		<div class="jv-metadonnees">
			<a href="{{post.link}}">
				<div class="jv-image">
					<img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" />
				</div>
			</a>
		</div>
		<div class="jv-content">
			<div class="jv-date-tags">
				<span class="jv-date">{{post.date('d/m/Y')}}</span>
			</div>
			<h3 class="jv-title"><a href="{{post.link}}">{{post.title}}</a></h3>
			<div class="jv-extract">
				<div class="jv-description">{{post.excerpt}}</div>
				<div class="border-secondary-bottom"></div>
				<a href="{{post.link}}" class="jv-link">Lire plus</a>
			</div>
		</div>
	</div>
	{% endblock %}
</article>
